@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.basic-container {
    padding: 30px;
  }

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}